body {
  background-color: #f5f5f5;
}

.well {
  background-color: #fff;
  padding:14px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.container {
  padding-top:10px;
  width:280px;
}

.nav-pills li a {
}

.muted a {
  color: #999;
}

.muted a:hover {
  text-decoration:none;
}

h3.title {
  padding-left:5px;
}

h3.content {
  margin-bottom:10px;
}

#doing {
  width:225px;

}

.nav {
  margin-top:7px;
  padding-right:5px;
}

.tags {
  margin-top:50px;
  margin-left:-45px;
  color: #777;
  font-size:.8.9em;

}

#start-timer{display:none;}

#clock {
  margin-top:35px;
  font-size:7.7em;
}

.interruption {
  font-size:1.2em;
  line-height: 2.5em;
  display:inline;

}

h2 {
  margin-bottom: 10px;

}

hr.no-top {
  margin-top:0px;
}

.spacer {
  margin-top: 30px;
}

.time-left {
  color:#777;
}

.timer {
  padding-bottom:15px;
}

.error {
  color: #FF2602;
}

.gray {
  display:inline;
  color:#999;
}

.box {
  padding: 24px 20px 3px;
  margin: 0 auto 20px;
  margin-top:9px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.delete {
  color:#aaa;
  margin-left:4px;
}

h4 {
  font-weight: normal;
}

.small {
  display:inline;
  font-size:.8em;
}

form.form-inline {
  margin-bottom: 0px;

}
