extends ../layouts/default

block main
  h1= title

block content
  if (typeof errors !== 'undefined')
    .alert.alert-block.alert-error
      ul
        each error in errors
          li= error.type

  block auth
