extends auth

block auth
  .well
    h3 Welcome to Node Timer!
    p Simple time tracking that doesn't suck.
    ul
      li Track your time with pomodoros
      li Keep a log of your day
      li See where you're time goes
      li Spend more time doing what you love
  .well
    form(action="/users/session", method="post")
      h3 Please sign in
      p.error= message
      input.input-block-level#email(type='text', name="email", placeholder='Email address')
      input.input-block-level#password(type='password', name="password", placeholder='Password')
      .login-buttons
        button.btn.btn-primary(type='submit') Login
        &nbsp;
        | or&nbsp;
        a.show-signup(href="/signup") sign up
