extends auth

block auth
  .well.login
    h3 Analytics for your time
    ul
      li Track time with Pomodoros
      li Keep a log of your day
      li See where you're spending your time
  .well
    form(action="/users/session", method="post")
      h3 Please sign in
      p.error= message
      input.input-block-level#email(type='text', name="email", placeholder='Email address')
      input.input-block-level#password(type='password', name="password", placeholder='Password')
      .login-buttons
        button.btn.btn-primary(type='submit') Login
        &nbsp;
        | or&nbsp;
        a.show-signup(href="/signup") sign up
