extends ../layouts/default

block tags
  .well
    h2 Trends
    if (dailyTags.length == 0 && weeklyTags.length == 0)
      p No trends yet for this week.  Use #hash #tags in your timers to track trends.
    if dailyTags.length > 0
      h3.content Today
      each tag in dailyTags
        .timer
          h4=tag['_id'] 
          - duration = tag['value']['duration'] + (tag['value']['duration'] == 1 ? ' minute' : ' minutes')
          - duration = (tag['value']['duration'] == 0 ? ' a few seconds' : duration)
          .time-left= 'for ' + duration + ' and ' + tag['value']['count'] + (tag['value']['count'] == 1 ? ' timer' : ' timers')
    if weeklyTags.length > 0
      h3.content This week
      each tag in weeklyTags
        .timer
          h4=tag['_id'] 
          - duration = tag['value']['duration'] + (tag['value']['duration'] == 1 ? ' minute' : ' minutes')
          - duration = (tag['value']['duration'] == 0 ? ' a few seconds' : duration)
          .time-left= 'for ' + duration + ' and ' + tag['value']['count'] + (tag['value']['count'] == 1 ? ' timer' : ' timers')
