extends ../layouts/default

block content
  .row
    .span9
      p=timer.body
      p.author
        span Author :&nbsp;
        a(href="/users/"+timer.user._id)=timer.user.name
      .date= formatDate(timer.createdAt, "%b %d, %Y at %I:%M %p")
  p
    br
    form.center.form-inline.confirm(action="/timers/"+timer.id, method="post")
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete

  p
    br
    h2 Comments
    each comment in timer.comments
      include ../comments/comment
    include ../comments/form
