extends ../layouts/default

block form
  .well
    p
      h1 Track your focus time
    p Node Timer is simple timer designed to keep you focused.
    p.welcome
      | 1. 
      b Set a timer and focus
      img(src="img/timer.jpg")
    p.welcome 
      | 2. 
      b Keep a log of your day
      img(src="img/log.jpg")
    p.welcome 
      | 3. 
      b See where your time goes
      img(src="img/trends.jpg")
    h3.sign-up-welcome
     a(href="/signup", title="sign up") Sign up for Node Timer
