!!! 5
html
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  title= appName + ' - ' + title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/app.css')
  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/jquery.countdown.min.js')
  script(type='text/javascript', src='/js/soundmanager2-jsmin.js')
  body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          if (req.isAuthenticated())
            li
              a(href="/logout", title="logout") Logout
          else
            li
              a(href="/login", title="Login") Login
        h3.muted 
           a(href="/") Node Timer
      hr
      block form
      block content
  script(type='text/javascript', src='/js/bootstrap.min.js')
  script(type='text/javascript', src='/js/app.js')
