!!! 5
html
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  title= title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/app.css')
  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/jquery.countdown.min.js')
  script(type='text/javascript', src='/js/soundmanager2-jsmin.js')
  body
    .container
      .top-nav
        .pull-right
          if (req.isAuthenticated())
            a(href="/", title="logout") Timers
            &nbsp;&middot;&nbsp;
            a(href="/trends", title="logout") Tags
            &nbsp;&middot;&nbsp;
            a(href="/logout", title="logout") Sign out
          else
            a(href="/signup", title="sign up") <b>Sign up</b>
            &nbsp;&middot;&nbsp;
            a(href="/login", title="logout") Sign in
        .muted 
           a(href="/") Node Timer
      .row-fluid
        .span12
          block form
          block tags
          block content
          .footer
            |built by 
            a(href="http://twitter.com/alexkroman/")@alexkroman 
            |in sullivan's gulch, pdx.


  script(type='text/javascript', src='/js/app.js')
